<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @evaluation.user_id %>
</p>

<p>
  <strong>Comic:</strong>
  <%= @evaluation.comic_id %>
</p>

<p>
  <strong>Point:</strong>
  <%= @evaluation.point %>
</p>

<%= link_to 'Edit', edit_evaluation_path(@evaluation) %> |
<%= link_to 'Back', evaluations_path %>
