<%= form_with(model: fav_review, local: true) do |form| %>
  <% if fav_review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(fav_review.errors.count, "error") %> prohibited this fav_review from being saved:</h2>

      <ul>
      <% fav_review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :review_id %>
    <%= form.number_field :review_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
