<p id="notice"><%= notice %></p>

<p>
  <strong>Comic:</strong>
  <%= @comic_tag.comic_id %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @comic_tag.tag_id %>
</p>

<%= link_to 'Edit', edit_comic_tag_path(@comic_tag) %> |
<%= link_to 'Back', comic_tags_path %>
