<h1>New Comic</h1>
<table class="table">
	<thead>
		<tr>
			<th>タイトル</th>
			<th>登録</th>
		</tr>
	</thead>
<div class="w3-row-padding w3-padding-16 w3-center">

	<tbody>
		<% @comics.each do |comic| %>

			<tr>
				<td>
					<%= image_tag comic["volumeInfo"]["imageLinks"]["smallThumbnail"] %>
					<br>
					<p> タイトル
					<%= comic["volumeInfo"]["title"] %> </p>
					<p> 作者名
					<% if comic["volumeInfo"]["authors"].present? %>
					<%= comic["volumeInfo"]["authors"].join(", ")%>
					<% end %>　</p>
					<p> 出版社
					<%= comic["volumeInfo"]["publisher"] %> </p>
				</td>

				<td>
					<%= form_for @comic do |f| %>
					  <%= f.hidden_field :cover_img, :value => "#{comic["volumeInfo"]["imageLinks"]["smallThumbnail"]}" %>
						<%= f.hidden_field :title, :value =>  "#{comic["volumeInfo"]["title"]}" %>
						<% if comic["volumeInfo"]["authors"].present? %>
						<%= f.hidden_field :author, :value =>   "#{comic["volumeInfo"]["authors"].join(", ")}" %>
						<% end %>
						<%= f.hidden_field :publisher, :value =>  "#{comic["volumeInfo"]["publisher"]}" %>
						<span class="form-group-btn">
							<%= f.submit '登録', :name => nil, class: "btn btn-default search-btn" %>
						</span>
					<% end %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>
	<div>

	</div>
</div>

<%= link_to 'Back', comics_path %>