<h1>New Comic</h1>
<table class="table">
	<thead>
		<tr>
			<th>タイトル</th>
			<th>登録</th>
		</tr>
	</thead>
<div class="w3-row-padding w3-padding-16 w3-center">

	<tbody>
		<% @comics.each do |comic| %>
			<tr>
				<td>
					<% if comic["volumeInfo"]["imageLinks"].present? %>
					  <%= image_tag comic["volumeInfo"]["imageLinks"]["smallThumbnail"] %>
					<% else %>
					  <%= image_tag ("defaultcomic.png"), :size => '150x150' %>
					<% end %>
					<br>
<%# binding pry %>
					<p> タイトル
					<% if comic["volumeInfo"]["title"].present? %>
					  <%= comic["volumeInfo"]["title"] %>
					<% end %> </p>
					<p> 作者名
					<% if comic["volumeInfo"]["authors"].present? %>
					  <%= comic["volumeInfo"]["authors"].join(", ")%>
					<% end %>　</p>
					<p> 出版社
					<% if comic["volumeInfo"]["publisher"].present? %>
					  <%= comic["volumeInfo"]["publisher"] %>
					<% end %> </p>
				</td>

				<td>
					<%= form_for @comic do |f| %>
					  <% if comic["volumeInfo"]["imageLinks"].present? %>
					    <%= f.hidden_field :cover_img, :value => "#{comic["volumeInfo"]["imageLinks"]["smallThumbnail"]}" %>
					  <% end %>
					  <% if comic["volumeInfo"]["title"].present? %>
						  <%= f.hidden_field :title, :value =>  "#{comic["volumeInfo"]["title"]}" %>
						<% end %>
						<% if comic["volumeInfo"]["authors"].present? %>
						  <%= f.hidden_field :author, :value =>   "#{comic["volumeInfo"]["authors"].join(", ")}" %>
						<% end %>
						<% if comic["volumeInfo"]["publisher"].present? %>
						  <%= f.hidden_field :publisher, :value =>  "#{comic["volumeInfo"]["publisher"]}" %>
						<% end %>
						<span class="form-group-btn">
							<%= f.submit '登録', :name => nil, class: "btn btn-default search-btn" %>
						</span>
					<% end %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>
	<div>

	</div>
</div>

<%= link_to 'Back', comics_path %>