<main>
  <div class="comic-content">
    <div class="comic-show3">
      <div class="cover-img">
        <% if @comic.cover_img? %>
          <%= image_tag @comic.cover_img %>
        <% else %>
          <%= image_tag ("defaultcomic.png"), :size => '150x150' %>
        <% end %>
      </div>
      <div class="comic-text">
        <div class="word">
          <p>タイトル</br><span><%= @comic.title %></span></p>

          <% if @comic.author.present? %>
            <p>作家名</br><span><%= @comic.author %></span></p>
          <% end %>

          <% if @comic.publisher.present? %>
            <p>出版社</br><span><%= @comic.publisher %></span></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</main>



<div class="review-content2">
  <div class="review-user2">
    <%= image_tag @comic.user.prof_image.thumb.url, size:'35x35', class: "prof-image" %>
    <div class="prof-name">
      <%= link_to @comic.review.user.nickname, user_path(@user.id), class: "prof-name2" %>
      <span class="review-meta">
        <span class="review-date"><%= @comic.review.created_at.strftime('%Y/%m/%d') %></span>
      </span>
    </div>
  </div>

  <div class="review-text">
    <% if @comic.review.star.present? %>
      <div id="star-rate-<%= @comic.review.id %>"></div>
        <script>
        $('#star-rate-<%= @comic.review.id %>').raty({
          path: '/assets',
          readOnly: true,
          score: <%= @comic.review.star %>,
        });
        </script>
    <% end %>
    <% if @comic.review.tag_list.present? %>
      <div class="tag-content">
        <p class="label label-primary"><span><%=  raw(@comic.review.tag_list.map { |t| link_to t, tag_path(t) }.join(' , ')) %></span></p>
      </div>
    <% end %>
    <% if @comic.review.tag_list.present? %>
      <div class="review-entry">
        <%= @comic.review.review_text %>
      </div>
    <% end %>
  </div>

  <% if @comic.user_id==current_user.id %>
    <div class="btn-group">
      <div class="ds-btn">
        <button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#myModal">
        投稿削除
        </button>
      </div>
    </div>
  <% end %>

  <div class="btn-group">
    <div class="showback-btn">
      <%= link_to 'トップへ戻る', comics_path, class: "btn btn-sm btn-outline-primary" %>
    </div>
  </div>
</div>


<!-- モーダルの設定 -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title" id="exampleModalLabel">投稿削除</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body"></br>
        <p>本当に削除しますか？</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">キャンセル</button>
          <%= link_to "投稿削除",comic_path(@comic), method: :delete, class: "btn btn-sm btn-danger" %>
      </div><!-- /.modal-footer -->
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<style>
  .modal-body p {
  font-size: 13px;
  text-align: center;
  }
</style>