
<p>
  <strong>Author:</strong>
  <%= @comic.author%>
</p>

<p>
  <strong>Publisher:</strong>
  <%= @comic.publisher %>
</p>


<p>
  <strong>Title:</strong>
  <%= @comic.title %>
</p>

<p>
  <strong>Cover_img:</strong>
  <% if @comic.cover_img? %>
    <%= image_tag @comic.cover_img %>
  <% else %>
    <%= image_tag ("defaultcomic.png"), :size => '150x150' %>
  <% end %>
</p>

 <div id="star-rate-<%= @comic.review.id %>"></div>
  <script>
  $('#star-rate-<%= @comic.review.id %>').raty({
    path: '/assets',
    readOnly: true,
    score: <%= @comic.review.star %>,
  });
  </script>

  <div class="review-text">
    <div class="review-author clearfix">
      <%= link_to @comic.review.user.nickname, user_path(@user.id) %>
      <span class="review-meta">
        <span class="review-date"><%= @comic.review.created_at.strftime('%Y/%m/%d') %></span>
      </span>
    </div>
    <div class="tag-content">
        <span class="label label-primary"><%= @comic.review.tag_list %></span>
    </div>
    <div class="review-entry">
      <%= @comic.review.review_text %>
    </div>
  </div>

<button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#myModal">
  投稿削除
</button>
<%= link_to '一覧へ', comics_path, class: "btn btn-sm btn-outline-primary" %>


<!-- モーダルの設定 -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title" id="exampleModalLabel">投稿削除</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body"></br>
        <p>本当に削除しますか？</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">キャンセル</button>
          <%= link_to "投稿削除",comic_path(@comic), method: :delete, class: "btn btn-sm btn-danger" %>
      </div><!-- /.modal-footer -->
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<style>
  .modal-body p {
  font-size: 13px;
  text-align: center;
  }
</style>