<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @recommend.user_id %>
</p>

<p>
  <strong>Comic:</strong>
  <%= @recommend.comic_id %>
</p>

<%= link_to 'Edit', edit_recommend_path(@recommend) %> |
<%= link_to 'Back', recommends_path %>
