<%= form_with(model: cover_img, local: true) do |form| %>
  <% if cover_img.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cover_img.errors.count, "error") %> prohibited this cover_img from being saved:</h2>

      <ul>
      <% cover_img.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :comic_id %>
    <%= form.number_field :comic_id %>
  </div>

  <div class="field">
    <%= form.label :cover_img %>
    <%= form.text_area :cover_img %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
