<p id="notice"><%= notice %></p>

<h1>Cover Imgs</h1>

<table>
  <thead>
    <tr>
      <th>Comic</th>
      <th>Cover img</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cover_imgs.each do |cover_img| %>
      <tr>
        <td><%= cover_img.comic_id %></td>
        <td><%= cover_img.cover_img %></td>
        <td><%= link_to 'Show', cover_img %></td>
        <td><%= link_to 'Edit', edit_cover_img_path(cover_img) %></td>
        <td><%= link_to 'Destroy', cover_img, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cover Img', new_cover_img_path %>
