<section>
  <div class="review-content">
    <% if @user.id==current_user.id %>
      <h4 class="review-head">レビューする</h4>
      <%= form_for [@comic,@review] do |f| %>
        <div class="review-grop">
          <div class="star-rate">
            <%= f.hidden_field :star, id: :comic_rating %>
            <div id="stars"></div>
          </div>
          <div class="tag-form">
            <p> ※タグをカンマ(,)区切りで入力してください </p>
            <%= text_field_tag 'tag_list', f.object.tag_list.join(","), class: "form-control tag-form-style", placeholder: "タグをカンマ(,)区切りで入力してください" %>
          </div>
          <div class="review-form">
            <%= f.text_area :review_text, rows:'5', class: "form-control tag-form-style",placeholder: "レビューをここに入力してください" %>
          </div>
          <div class="review-btn">
            <%= f.button :type => "submit", class: 'review-btn-style' do %>
              <i class="fas fa-pen-nib"></i><span>投稿</span>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</section>

<main>
  <div class="comic-content">
    <div class="comic-show3">
      <div class="cover-img">
        <% if @comic.cover_img? %>
          <%= image_tag @comic.cover_img %>
        <% else %>
          <%= image_tag ("defaultcomic.png"), :size => '150x150' %>
        <% end %>
      </div>

      <div class="comic-text">
        <div class="word">
          <p>タイトル</br><span><%= @comic.title %></span></p>

          <% if @comic.author.present? %>
            <p>作家名</br><span><%= @comic.author %></span></p>
          <% end %>

          <% if @comic.publisher.present? %>
            <p>出版社</br><span><%= @comic.publisher %></span></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</main>






<script type="text/javascript">

  $("#stars").raty({
    path: '/assets',
    scoreName: 'review[star]',
  });

</script>
