<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @review.user_id %>
</p>

<p>
  <strong>Comic:</strong>
  <%= @review.comic_id %>
</p>

<p>
  <strong>Review text:</strong>
  <%= @review.review_text %>
</p>

<p>
  <strong>Review title:</strong>
  <%= @review.review_title %>
</p>

<p>
  <strong>Netabare:</strong>
  <%= @review.netabare %>
</p>

<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
