<!DOCTYPE html>
<html>
  <head>
    <title>Simic</title>
    <meta charset="utf-8">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  </head>

  <body>
    <header class="navbar fixed-top navbar-light" style="background-color: #fced6a;" >
      <div class="container">
        <nav class="navbar navbar-nav navbar-left">
          <span class="Simic">Simic</span>
        </nav>

        <nav id="slidemenu">
            <ul class="nav nav-pills justify-content-end navbar-right">
              <% if user_signed_in? %>
                <li class="">
                  <%= link_to comics_path(current_user),class: 'btn btn-light' do %>
                    <%= fa_icon ("home") %>
                    <span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home
                  <% end %>
                </li>
                <li class="">
                  <%= link_to users_path, class: 'btn btn-light' do %>
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Users
                  <% end %>
                </li>
                <li class="">
                  <%= link_to new_comic_path, class: 'btn btn-light' do %>
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span> レビューする
                  <% end %>
                </li>
                <li class="">
                  <%= link_to destroy_user_session_path, method: :delete, class: 'btn btn-light' do %>
                    <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> logout
                  <% end %>
                </li>
                <li class="">
                  <p> こんにちは！
                  <%=link_to user_path(current_user) do %> <%= current_user.nickname %>
                  <% end %> さん</p>
                </li>
              <% else %>
                <li class="">
                  <%= link_to users_path,class: 'btn btn-light' do %>
                  <span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home
                  <% end %>
                </li>
                <li class="">
                  <%= link_to users_path, class: 'btn btn-light' do %>
                    <span class="glyphicon glyphicon-link" aria-hidden="true"></span> About
                  <% end %>
                </li>
                <li class="">
                  <%= link_to new_user_registration_path, class: 'btn btn-light' do %>
                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> sign up
                  <% end %>
                </li>
                <li class="">
                  <%= link_to new_user_session_path, class: 'btn btn-light' do %>
                    <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> login
                  <% end %>
                </li>
              <% end %>
            </ul>
        </nav>
      </div>
    </header>

    <%= yield %>

   <footer class="footer style-2">
      <div class="container">
        <div class="row">
          <div class="col-xs-3 col-xs-offset-9">
              <p>CopyRight Infratop.inc</p>
          </div>
        </div>
      </div>
    </footer>

  </body>
</html>
