<!DOCTYPE html>
<html>
  <head>
    <title>Simic</title>
    <meta charset="utf-8">
    <meta name="turbolinks-cache-control" content="no-cache">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'comics' %>
    <%= stylesheet_link_tag 'users' %>
    <%= stylesheet_link_tag 'reviews' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  </head>

  <body>
    <header class="navbar fixed-top navbar-light" style="background-color: #fced6a;" >

      <div class="logo">
        <%= link_to comics_path(current_user) do %>
          <%= image_tag ("logo.png"),class: 'logo_img' %>
        <% end %>
      </div>

      <div class="search-box">
        <%= form_tag(comics_path,method: :get) do %>
            <%= text_field_tag :search, "", placeholder: "  タイトル / 作家名 / タグを検索", :size=>"30", class: 'search-form' %>
            <%= button_tag '<i class="fa fa-search"></i>'.html_safe, type: 'submit', :name => nil,class: 'search-btn' %>
        <% end %>
      </div>

      <nav id="slidemenu">
        <ul class="nav nav-pills justify-content-end navbar-right">
          <% if user_signed_in? %>
            <li class="nav-btn">
              <%= link_to comics_path(current_user),class: 'btn btn-sm btn-outline-secondary' do %>
                <%= fa_icon ("home") %>
                <span class="glyphicon" aria-hidden="true"></span> Home
              <% end %>
            </li>
            <li class="nav-btn">
              <%= link_to about_path, class: 'btn btn-sm  btn-outline-secondary' do %>
                <i class="far fa-star"></i>
                <span class="glyphicon" aria-hidden="true"></span> About
              <% end %>
            </li>
            <li class="nav-btn">
              <%= link_to new_comic_path, class: 'btn btn-sm btn-outline-secondary' do %>
                <i class="fas fa-pen-nib"></i>
                <span class="glyphicon review-new" aria-hidden="true">レビューする</span>
              <% end %>
            </li>
            <li class="nav-btn">
              <%= link_to destroy_user_session_path, method: :delete, class: 'btn btn-sm btn-outline-secondary' do %>
               <i class="fas fa-sign-out-alt"></i>
                <span class="glyphicon" aria-hidden="true"></span> logout
              <% end %>
            </li>
            <li class="wel-user">
              <p> こんにちは！
              <%=link_to user_path(current_user),:style=>"color:#4682b4;" do %> <%= current_user.nickname %>
              <% end %> さん</p>
            </li>
          <% else %>
            <li class="nav-btn">
              <%= link_to comics_path(current_user),class: 'btn btn-sm btn-outline-secondary' do %>
              <%= fa_icon ("home") %>
              <span class="glyphicon" aria-hidden="true"></span> Home
              <% end %>
            </li>
            <li class="nav-btn">
              <%= link_to about_path, class: 'btn btn-sm  btn-outline-secondary' do %>
                <i class="far fa-star"></i>
                <span class="glyphicon" aria-hidden="true"></span> About
              <% end %>
            </li>
            <li class="nav-btn">
              <%= link_to new_user_registration_path, class: 'btn btn-sm btn-outline-secondary' do %>
                <i class="fas fa-user-plus"></i>
                <span class="glyphicon" aria-hidden="true"></span> sign up
              <% end %>
            </li>
            <li class="nav-btn nav-btn-last">
              <%= link_to new_user_session_path, class: 'btn btn-sm btn-outline-secondary' do %>
                <i class="fas fa-sign-in-alt"></i>
                <span class="glyphicon" aria-hidden="true"></span> login
              <% end %>
            </li>
          <% end %>
        </ul>
      </nav>
    </header>

    <%= yield %>

   <footer class="footer style-2">
      <div class="footer-content">
        <p><small>&copy; 2019 Kozue-WCPF</small></p>
      </div>
    </footer>

  </body>
</html>
